body{
    background-color: gray;
    margin: 0;
    padding: 0;

}
div#name0{
    background-color: red;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 20px;

}
div#price0{
    background-color: chartreuse;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 20px;

}
div#name1{
    background-color: red;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 40px;

}
div#price1{
    background-color: chartreuse;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 40px;

}
div#name2{
    background-color: red;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 60px;

}
div#price2{
    background-color: chartreuse;
    width: 0px;
    height: 20px;
    position: absolute;
    margin-top: 60px;

}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;

}
a:hover {

    text-decoration: underline;
    font-size: 30px;

}
input {

    border: solid 3px black;
    border-radius: 10px;
}